			/*Conteudo da Pagina*/
			.content{
				font-size:20px;
				font-family:Verdana, sans-serif;
				text-align:center;		
                color: black;		
                padding:20px;
                margin-top:30px;
                height:auto;
			}
			.content > h1{
				color:black;
				font-family:Verdana, sans-serif;
			}
            .content > h3{
				color:black;
				font-family:Verdana, sans-serif;
			}

            td{
                color:black;
            }

            .pagina_uso {
                text-align:justify;
                text-indent: 50px;
                color:#2e2e2e;
            }

            /*CORES DAS COMBO BOXES */
            #artigo, #cliente{
                color:black;
                display: block;
                width: 100%;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
                box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
                -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

            }

            /*CSS DA TABELA*/ 
            table {
                border-spacing: 1;
                border-collapse: collapse;
                background: white;
                border-radius: 6px;
                overflow: hidden;
                max-width: 800px;
                width: 100%;
                margin: 0 auto;
                position: relative;
           }
            table * {
                position: relative;
           }
            table td, table th {
                padding-left: 8px;
           }
            table thead tr {
                 height: auto; 
                background: #ffed86;
                font-size: 16px;
           }
            table tbody tr {
                 height: auto; 
           }
            table tbody tr:last-child {
                border: 0;
           }
            table td, table th {
                text-align: center;
                padding-top:10px;
                padding-bottom:10px;
           }
            table td.l, table th.l {
                text-align: right;
           }
            table td.c, table th.c {
                text-align: center;
           }
            table td.r, table th.r {
                text-align: center;
           }
            @media screen and (max-width: 35.5em) {
                table {
                    display: block;
               }
                table > *, table tr, table td, table th {
                    display: block;
               }
                table thead {
                    display: none;
               }
                table tbody tr {
                    height: auto;
                    padding: 8px 0;
               }
                table tbody tr td {
                    margin-bottom: 12px;
               }
                table tbody tr td:last-child {
                    margin-bottom: 0;
               }
                table tbody tr td:before {
                    position: absolute;
                    font-weight: 700;
                    width: 40%;
                    left: 10px;
                    top: 0;
               }
           }
            body {
                background: #9bc86a;
                font: 400 14px 'Calibri', 'Arial';
                padding: 20px;
           }
            blockquote {
                color: white;
                text-align: center;
           }

           .image-wrapper{
            text-align: center;

           }

           img{
            max-width: 100%;
            height: auto;
           }

           /*CONSOLE DE DEBUG */

           #console {

            background-color: black;
            color: green;
            text-align: left;
            border-color: white;

           }

           /*FORMS DO BOOTSTRAP*/

           .form-controls {
            display: block;
            width: auto;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
            box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }