body {
    background: white !important;
    }

    .navbar-inverse {
    background: #ffa200 !important;
    border-bottom: 4px solid #0d1e3b !important;
    }

    .navbar-brand {
    font: 12px Lato !important;
    text-transform: uppercase;
    color: white !important;
    letter-spacing: 2px;
    margin-top: 2px;
    }

    .nav {
    margin-bottom: 0px;
    }
    .nav a {
    font: 500 11px Lato;
    letter-spacing: 2px;
    padding: 16px !important;
    color: white !important;
    text-transform: uppercase;
    position: fixed;
    z-index: 1000;
    }
    .nav a:hover {
    color: #FFF !important;
    }
    .nav li {
    position: fixed;
    }

    .navbar-inverse .navbar-toggle {
    border: none;
    }

    .navbar-collapse {
    box-shadow: none !important;
    border: none !important;
    }

    .navbar-inverse .navbar-toggle:hover {
    background: transparent !important;
    }

    .navbar-inverse .navbar-toggle:focus {
    background: transparent !important;
    }

    .navbar-inverse .navbar-toggle:active {
    background: transparent !important;
    }

    .icon-bar {
    background: white !important;
    }

    .hover {
    display: block;
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #e8b867!important;
    z-index: 0;
    opacity: 0;
    }

    @media only screen and (max-device-width: 767px) {
    .nav {
        padding-bottom: 20px;
    }
    .nav a {
        padding: 12px !important;
    }
    }
    @media only screen and (max-device-width: 480px) {
    .nav {
        padding-bottom: 20px;
    }
    }